<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a graduate of Illinois State University with summer Internship experience as a back-end Web Developer.
            While I'm a proficient back-end developer I am working my way to being a full-stack developer.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a Junior Software Engineer role where I can work in a team environment and gain experience with building applications and problem solving.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Helped improve the user experience of a CMS by creating a script to convert markdown files to html. Allowing us to make the editors more intuitive.
    			</li>
          <li>
            Redesigned the CMS user interface and front-end to make the user experience more pleasant and intuitive.  This, coupled with the changes above, effectively modernized our content management system.
          </li>
    			<li>
            Closed over 150 issues and requests while also taking classes full time.
    			</li>
    			<li>

    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
